body {
  font-family: monospace, sans-serif;
}
.font-primary {
  color: #00abae;
}
.title-icon {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
  margin: bottom 14px;
  margin-top: 6px;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin: bottom 14px;
}
#about {
  margin: 40px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 50%;
  width: 120px;
  margin-bottom: 10px;
}

#about .name {
  font: size 25px;
}

#about .vocation {
  font-size: 14px;
  color: #a8abab;
  margin-bottom: 10px;
}
#about .skills {
  font-size: 12px;
  color: #00abae;
  margin-bottom: 6px;
}

#about .email {
  margin-top: 6px;
  font-size: 10px;
  color: blue;
  font-weight: normal;
  margin-bottom: 6px;
}

#about .icons {
  margin: top 6px;
  font: size 30px;
}

#project {
  margin: 60px auto;
  width: 100%;
}

#project h2 {
  text-align: center;
}

#project .card img {
  width: 100%;
}

#project .card-title {
  font-weight: bold;
}
